<div class="container">
<!-- Header -->
<mat-toolbar  style="background-color: #eb5757b5;">
  <mat-toolbar-row>
    <button mat-icon-button style="color: white;">
      <mat-icon style="color: white; font-size: 36px; padding-right: 61px;" *ngIf="_authService.loggedIn()" (click)="sidenav.toggle()">menu</mat-icon>
    </button>&nbsp;&nbsp;
    <nav style="color: white; font-size: 36px;">MIP</nav> 
    <span class="example-spacer"></span>
    <button mat-button style="color: white; font-size: 15px;"><i class="material-icons md-48 orange600">person</i> {{'Doctorsname' | translate}}</button>
    

  </mat-toolbar-row>
</mat-toolbar>

<mat-sidenav-container style="min-width: 150px;">
  <mat-sidenav #sidenav style="background-color: rgba(241, 136, 136, 0.74); transform: none; visibility: visible;">
    <mat-nav-list >

      <mat-form-field class="row" style="padding-left: 29px; width: 100px;">
        <mat-label>Language</mat-label>
        <select matNativeControl required (change)="useLanguage($event.target.value)">
            <option value='en'>en</option>
            <option value='ko'>ko</option>
            <option value='ch'>ch</option>
            <option value='po'>po</option>
            
        </select>
    </mat-form-field>
      
    <a mat-list-item style="color: rgb(255, 255, 255); font-weight: bold;" [routerLink]="'/menu'"><i class="material-icons md-40 orange600">home</i>&nbsp; {{'home' | translate}}</a>
     <mat-expansion-panel style="background-color: rgba(241, 136, 136, 0.74); ">
      <mat-expansion-panel-header>
        <mat-panel-title>
          <strong>Internal Medicine</strong>
        </mat-panel-title>
        
      </mat-expansion-panel-header>
    
      <a mat-list-item style=" font-weight: bold;" [routerLink]="'/internal-medcine'" >{{'InternalMedcine' | translate}} <br>/内部メダイン</a>
      <a mat-list-item style=" font-weight: bold;" [routerLink]="'/internal-medcine-list'"> Inteview List</a>

    
    </mat-expansion-panel>

      <a mat-list-item style="color: rgb(255, 255, 255); font-weight: bold;" (click)="sidenav.toggle()"  mat-list-item><i class="material-icons md-40 orange600">close</i>&nbsp; Close</a>
      <a mat-list-item style="color: rgb(255, 255, 255); font-weight: bold;"  *ngIf="_authService.loggedIn()" (click)="_authService.logoutUser()"><i class="material-icons md-40 orange600">&nbsp;logout</i>Logout</a>
      

    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <div style="height: 85vh;">
      <router-outlet>

        
      </router-outlet>
      
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>


  <!-- Footer -->

  <mat-toolbar  style="background-color: #eb5757b5;">
    <mat-toolbar-row>
      <span class="example-spacer"></span>
      <nav style="color: white; font-size: 17px; ">Copyright 2019 ETL (Eiko Takaoka Laboratory, Sophia University)</nav>
      <span class="example-spacer"></span> 
      
    </mat-toolbar-row>
  </mat-toolbar>

</div>