.container {
    padding: 136px;
    align-items: center;
    height: 100%;
}


.loginf-form {
    max-width: 400px;
    position: relative;
    padding-block-start: 77px;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  .loginf-form {
      display: inline-flexbox;
      align-items: center;
  }