<div class="container">
    <form [formGroup]="_auth.form">
    <div class="loginf-form">
        
            <nav style="height: 41px;
            background-color: rgb(241, 136, 136);
            text-align: center;
            color: white;
            padding-top: 6px; font-size: 27px">Login</nav>
            <br>
            <mat-form-field class="col-12">
                <input matInput placeholder="username" formControlName="username" required>
            </mat-form-field>
            <mat-form-field class="col-12">
                <input type="password" matInput placeholder="Password" formControlName="pwd" required>
            </mat-form-field>
            <button class="col-2" mat-raised-button style="background-color: rgb(241, 136, 136); color: white;" (click)="login()">
             login</button>

        
    </div>
</form>
</div>