<mat-toolbar  style="background-color: #eb575770; margin-top: 0px;">
    <mat-toolbar-row>
      <span class="example-spacer"></span>
      <nav style="color: rgba(0, 0, 0, 0.61); font-size: 17px; ">Internal Medicin List</nav>
      <span class="example-spacer"></span> 
      
    </mat-toolbar-row>
  </mat-toolbar>


  <mat-expansion-panel [expanded]="true">
    <mat-expansion-panel-header>
      
    </mat-expansion-panel-header>
    <mat-divider></mat-divider>
    
    <div class="search-div">
      
      <mat-form-field class="search-form-field" floatLabel="never">
        <input matInput [(ngModel)]="searchKey" placeholder="Search" autocomplete="off" (keyup)="applyFilter()">
        <button mat-button matSuffix mat-icon-button aria-label="Clear" *ngIf="searchKey" (click)="onSearchClear()">
          <mat-icon>close</mat-icon>
        </button>
      </mat-form-field>
      <br><br>
      <mat-divider></mat-divider>
    </div>
    <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">

            <!--- Note that these columns can be defined in any order.
                  The actual rendered columns are set as a property on the row definition" -->
          
            <!-- Position Column -->
            <ng-container matColumnDef="id_internalMedcine">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> No. </th>
              <td mat-cell  *matCellDef="let element"> {{element.id_internalMedcine}} </td>
            </ng-container>
          
            <!-- Name Column -->
            <ng-container matColumnDef="Patient Name">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> Patient Name </th>
              <td mat-cell *matCellDef="let element"> {{element.name}} </td>
            </ng-container>

            <!-- Address Column -->

            <!-- Name Column -->
            <ng-container matColumnDef="sex">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> sex </th>
                <td mat-cell *matCellDef="let element"> {{element.sex}} </td>
              </ng-container>
  
              <!-- Address Column -->

              <!-- Name Column -->
            <ng-container matColumnDef="Date of birth">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Date of birth </th>
                <td mat-cell *matCellDef="let element"> {{element.DateOfBirth | date:'shortDate'}} </td>
              </ng-container>
  
              <!-- Address Column -->

              <!-- Name Column -->
            <ng-container matColumnDef="Height">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Height </th>
                <td mat-cell *matCellDef="let element"> {{element.height}} </td>
              </ng-container>
  
              <!-- Address Column -->

              <!-- Name Column -->
            <ng-container matColumnDef="Weight">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Weight </th>
                <td mat-cell *matCellDef="let element"> {{element.weight}} </td>
              </ng-container>
  
              <!-- Address Column -->
            

            <!-- Address Column -->
            <ng-container matColumnDef="actions">
              <th mat-header-cell *matHeaderCellDef colspan="6">Action</th>
              <td mat-cell *matCellDef="let row">
                <button mat-icon-button (click)="onEdit(row)"><mat-icon>launch</mat-icon></button>
                <button mat-icon-button (click)="onDelete(row.id_categories)" color="primary"><mat-icon>delete_outline</mat-icon></button>
              </td>
            </ng-container>
            <ng-container matColumnDef="loading">
              <mat-footer-cell *matFooterCellDef colspan="12">
                Loading data....
              </mat-footer-cell>
            </ng-container>
            <ng-container matColumnDef="noData">
              <mat-footer-cell *matFooterCellDef colspan="12">
                No Data.
              </mat-footer-cell>
            </ng-container>
            
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            <mat-footer-row *matFooterRowDef="['loading']" [ngClass]="{'hide' :dataSource!=null}"></mat-footer-row>
            <mat-footer-row *matFooterRowDef="['noData']" [ngClass]="{'hide' :!(dataSource!=null && dataSource.data.length==0)}"></mat-footer-row>
          </table>
          <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" [pageSize]="5" showFirstLastButtons></mat-paginator>
          
          
  </mat-expansion-panel>