<div class="button-content" >

    <div class="button-group row container">
      <button  class="btn btn-default btn-sm col" [routerLink]="'/internal-medcine'" >{{'InternalMedcine' | translate}} <br>/内部メダイン</button>
      <button class="btn btn-default btn-sm col">{{'Respiratory' | translate}} <br>/呼吸器</button>
      <button  class="btn btn-default btn-sm col">{{'Cardiology' | translate}} <br>/循環器</button>
      <button  class="btn btn-default btn-sm col">{{'Gastroenterology' | translate}} <br>/胃腸病学</button>
   
     
      <button class="btn btn-default btn-sm col">{{'Pediatrics' | translate}} <br>/小児科</button>
      <button class="btn btn-default btn-sm col">{{'Psychiatry' | translate}} <br>/精神医学</button>
      <button class="btn btn-default btn-sm col">{{'Surgery' | translate}}<br>手術</button>
      <button class="btn btn-default btn-sm col">{{'VascularSurgery' | translate}}<br>/血管手術</button>
   
     
      <button class="btn btn-default btn-sm col">{{'Neurosugery' | translate}} <br>/脳神経外科</button>
      <button class="btn btn-default btn-sm col">{{'Orthopedicsurgery' | translate}} <br>/整形外科</button>
      <button class="btn btn-default btn-sm col">{{'Opthalmology' | translate}} <br>/眼科</button>
      <button class="btn btn-default btn-sm col">{{'Otolaryngology' | translate}} <br>耳鼻科</button>
   
   
      <button class="btn btn-default btn-sm col">{{'Dentistery' | translate}} <br>/歯科</button>
      <button class="btn btn-default btn-sm col">{{'Urology' | translate}}<br>/泌尿器科</button>
      <button class="btn btn-default btn-sm col">{{'Dermatology' | translate}} <br>/皮膚科</button>
      <button class="btn btn-default btn-sm  ">{{'Obstetricgynecology' | translate}} <br>/産婦人科</button>
      
   
     </div> 
      
    
  </div>





  