<mat-toolbar  style="background-color: #eb575770; margin-top: 0px;">
    <mat-toolbar-row>
      <span class="example-spacer"></span>
      <nav style="color: rgba(0, 0, 0, 0.61); font-size: 17px; ">{{'internalMedcine.InternalMedicineQuestionnaire' | translate}} /内科 問診票</nav>
      <span class="example-spacer"></span> 
      
    </mat-toolbar-row>
  </mat-toolbar>

<div class="container" style="background-color: white !important;">
    <button mat-raised-button (click)="isLinear = !isLinear" id="toggle-linear">
        {{!isLinear ? 'Enable linear mode' : 'Disable linear mode'}}
    </button>

    <form [formGroup]="service.formx">
    <mat-horizontal-stepper [linear]="isLinear" #stepper>
        <!-- first step -->
        <mat-step [stepControl]="service.formx">
            <div >
                <ng-template matStepLabel></ng-template>
                <h3>{{'internalMedcine.'+PersonnalInformation | translate}}</h3>
                <div class="row">
                    <div class="col-8">
                        <mat-form-field class="col-12">
                            <input type="text" matInput placeholder=" {{'internalMedcine.LastFirstname' | translate}} /姓、名" formControlName="name" required>
                        </mat-form-field>
                        <mat-form-field style="width: 414px;" class="col-12">
                            <mat-label> {{'internalMedcine.Dateofbirth' | translate}} /医療機関記入欄/生年月日（西暦)</mat-label>
                            <input matInput [matDatepicker]="picker" formControlName="DateOfBirth">
                            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                            <mat-datepicker #picker disabled="false"></mat-datepicker>
                        </mat-form-field>
                        
                        <div class="row-12">
                            <mat-form-field class="col-6">
                                <input type="number" matInput placeholder="{{'internalMedcine.Height' | translate}}/高さ" formControlName="height" required>
                            </mat-form-field>
                            <mat-form-field class="col-6">
                                <input type="number" matInput placeholder="{{'internalMedcine.Weight' | translate}} /重量" formControlName="weight" required>
                            </mat-form-field>
                            
                        </div>

                    </div>
                    <div class="col-4">


                        <mat-form-field  style="width: 109px;">
                            <mat-label style="width: 109px !important;"> {{'internalMedcine.Sex' | translate}} /性別</mat-label>
                            <select matNativeControl formControlName="sex" required >
                                <option value="Male">{{'internalMedcine.Male' | translate}} /男性</option>
                                <option value="Female">{{'internalMedcine.Female' | translate}} /女性</option>

                            </select>
                        </mat-form-field>

                    </div>
                </div>
                <div class="row-12">
                    <mat-label>{{'internalMedcine.Allergie' | translate}} /アレルギー</mat-label>
                </div><br>
                <div class="row">
                    <div class="col">
                    <mat-checkbox (click)="!toggleFood()" style="color: rgb(170, 170, 170);" >{{'internalMedcine.Food' | translate}} /食物</mat-checkbox>&nbsp;&nbsp;
                    </div>
                    <div class="col">
                    <mat-checkbox  (click)="!toggleMedcine()" style="color: rgb(170, 170, 170);" >{{'internalMedcine.Medcine' | translate}} /医学</mat-checkbox>
                   </div>
                </div>
                <div class="row">
                <div *ngIf="!food"class="col-6" >
                 <div class="row" style="font-size: 12px; color: rgb(0,0,0,0.5);">
                        <div *ngFor="let food1 of foods; let i = index" class="col-4">
                           <mat-checkbox style="display: inline-flexbox;" class="example-margin col"  [value]="food1.value" (change)="onCheckboxChangefoods($event)">
                             {{food1.name}}
                           </mat-checkbox>
                        </div>
                    </div>

                </div>
                
                <div *ngIf="!medcine" class="col-6">
                    <div class="row" style="font-size: 12px; color: rgb(0,0,0,0.5);">
                        <div *ngFor="let medecine1 of medecines; let i = index" class="col-4">
                           <mat-checkbox style="display: inline-flexbox;" class="example-margin col"  [value]="medecine1.value" (change)="onCheckboxChangemedecines($event)">
                             {{medecine1.name}}
                           </mat-checkbox>
                        </div>
                    </div>
                </div>
            </div>
                <br><br><br>


                <div class="row">
                    <nav class="col-10"></nav>
                    <button class="col-2" mat-raised-button matStepperNext 
                        style="background-color: rgb(241, 136, 136); color: white;">{{'internalMedcine.Next' | translate}} <mat-icon>keyboard_arrow_right
                        </mat-icon></button>
                </div>
            </div>
        </mat-step>

        <!-- second step -->
        <mat-step [stepControl]="service.formx">
            <div  >
                <ng-template matStepLabel></ng-template>
                <mat-label> {{'internalMedcine.problemtoday' | translate}}<br>
                    /今日はどのような症状がありますか。（複数ある方は複数☑してください.)</mat-label>
                    <div class="row" style="font-size: 12px; color: rgb(0,0,0,0.5);">
                        <div *ngFor="let problemtoday1 of problemtoday; let i = index" class="col-4">
                           <mat-checkbox style="display: inline-flexbox;" class="example-margin col"  [value]="problemtoday1.value" (change)="onCheckboxChangeProblemToday($event)">
                             {{problemtoday1.name}}
                           </mat-checkbox>
                        </div>
                    </div>

                <mat-label>Check all that apply about your stool. / 便の性状に☑してください</mat-label>
                <div class="row" style="font-size: 12px; color: rgb(0,0,0,0.5);">
                    <div *ngFor="let stool of stools; let i = index" class="col-4">
                       <mat-checkbox style="display: inline-flexbox;" class="example-margin col"  [value]="stool.value" (change)="onCheckboxChangestool($event)">
                         {{stool.name}}
                       </mat-checkbox>
                    </div>
                </div>

                    <div style="font-size: 12px; color: rgb(0,0,0,0.5);" class="row">
                    <mat-label class="col-4">{{'internalMedcine.Stoolfrequency' | translate}}/ 一日の排便回数：</mat-label>
                    <mat-form-field >
                        <select matNativeControl formControlName="stoolfrequency" required>
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">5</option>
                            <option value="6">6</option>
                            <option value="7">7</option>
                            <option value="frequently">{{'internalMedcine.Frequently' | translate}}</option>
                        </select>
                    </mat-form-field>
                    <mat-label class="col-2">time(s)/day/回/日</mat-label>

                </div>
                <br><br><br>

                <div class="row">
                    <button class="col-2" mat-raised-button color="primary" matStepperPrevious>
                        <mat-icon>keyboard_arrow_left</mat-icon>{{'internalMedcine.Back' | translate}}
                    </button>
                    <nav class="col-8"></nav>
                    <button class="col-2" mat-raised-button matStepperNext matStepperNext
                        style="background-color: rgb(241, 136, 136); color: white;">{{'internalMedcine.Next' | translate}} <mat-icon>keyboard_arrow_right
                        </mat-icon></button>
                </div>
            </div>
        </mat-step>

        <!-- third step -->
        <mat-step [stepControl]="service.formx">
            <div  >
                <div class="row">
                <img class="center-block img-responsive" style="width: 662px; margin-top: -65px; margin-left: auto; margin-right: auto;" src="assets/img/jintaizu-Recovered.png" alt="">
            </div>
            <mat-label class="col-4" style="font-size: 20px;">{{'internalMedcine.selectPlaceSymptom' | translate}}</mat-label>
            <br><br>
            <div class="row" style="font-size: 12px; color: rgb(0,0,0,0.5);">
                <div *ngFor="let bodypart of bodyParts; let i = index" class="col-2">
                   <mat-checkbox class="example-margin"  [value]="bodypart.value" (change)="onCheckboxChange($event)">
                     {{bodypart.name}}
                   </mat-checkbox>
                </div>
            </div>

           

                <div class="row">
                    <button class="col-2" mat-raised-button color="primary" matStepperPrevious>
                        <mat-icon>keyboard_arrow_left</mat-icon>{{'internalMedcine.Back' | translate}}
                    </button>
                    <nav class="col-8"></nav>
                    <button class="col-2" mat-raised-button matStepperNext matStepperNext 
                        style="background-color: rgb(241, 136, 136); color: white;">{{'internalMedcine.Next' | translate}} <mat-icon>keyboard_arrow_right
                        </mat-icon></button>
                </div>
            </div>
        </mat-step>

        <!-- forth step -->
        <mat-step [stepControl]="service.formx">
            <div  >
                <ng-template matStepLabel></ng-template>
                <mat-label>{{'internalMedcine.symptomoccur' | translate}}? <br>/症状はどのようなときに現れますか</mat-label>
                <div class="row" style="font-size: 12px; color: rgb(0,0,0,0.5);">
                    <div *ngFor="let symptomoccur of symptomoccurs; let i = index" class="col-3">
                       <mat-checkbox class="example-margin"  [value]="symptomoccur.value" (change)="onCheckboxChangeSymptomoccur($event)">
                         {{symptomoccur.name}}
                       </mat-checkbox>
                    </div>
                </div>
                <br><br>
                <mat-label>{{'internalMedcine.symptomlike' | translate}}? <br>/症状はどのような性質を持っていますか</mat-label>
                <div style="font-size: 12px; color: rgb(0,0,0,0.5);" class="col">
                    <div *ngFor="let symptomlike of symptomlikes; let i = index" class="row">
                        <mat-checkbox class="example-margin"  [value]="symptomlike.value" (change)="onCheckboxChangesymptomlike($event)">
                          {{symptomlike.name}}
                        </mat-checkbox>
                     </div>
                </div>
                <mat-label class="row">{{'internalMedcine.scale1to10' | translate}}
                    /その症状の程度を数字で表すと、どのぐらいですか？下の数字のところに〇を付けてください</mat-label>
                <mat-form-field class="row" style="padding-left: 29px">
                    <select matNativeControl formControlName="scale1to10"> required>
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">4</option>
                        <option value="5">5</option>
                        <option value="6">6</option>
                        <option value="7">7</option>
                        <option value="8">8</option>
                        <option value="9">9</option>
                        <option value="10">10</option>
                    </select>
                </mat-form-field>



                <mat-label class="row"> {{'internalMedcine.symptomstart' | translate}}? /この症状はいつからありますか</mat-label>

                <div class="col">
                    <mat-form-field style="width: 205px; padding-left: 18px;" class="row">
                        <input matInput [matDatepicker]="picker1" placeholder="Date " formControlName="symptomstart">
                        <mat-datepicker-toggle matSuffix [for]="picker1" ></mat-datepicker-toggle>
                        <mat-datepicker #picker1 ></mat-datepicker>
                    </mat-form-field>

                    <div class="ngx-timepicker-field-example row">
                        <mat-form-field style="width: 220px; padding-left: 34px;" class="row">
                        <input type="time" datetime="HH:mm:ss" matInput  value="{{symtomstarttime}}" placeholder="Time " aria-label="default time" [ngxTimepicker]="defaultValue"  readonly [format]="24" formControlName="symtomstarttime">
                        <ngx-material-timepicker #defaultValue></ngx-material-timepicker>
                    </mat-form-field>
                    </div>
                </div><br>



                <div class="row">
                    <button class="col-2" mat-raised-button color="primary" matStepperPrevious>
                        <mat-icon>keyboard_arrow_left</mat-icon>{{'internalMedcine.Back' | translate}}
                    </button>
                    <nav class="col-8"></nav>
                    <button class="col-2" mat-raised-button matStepperNext matStepperNext
                        style="background-color: rgb(241, 136, 136); color: white;">{{'internalMedcine.Next' | translate}} <mat-icon>keyboard_arrow_right
                        </mat-icon></button>
                </div>
            </div>
        </mat-step>

        <!-- fifth step -->
        <mat-step [stepControl]="service.formx">
            <div>
                <ng-template matStepLabel></ng-template>
                <mat-label class="row">{{'internalMedcine.currentlyonmedication' | translate}}</mat-label><br>
                <mat-radio-group aria-label="Select an option" formControlName="onMedication" (change)="!toggleOnMedcation()" [(ngModel)]= "OnMedication">
                    <mat-radio-button value="true">{{'internalMedcine.yes' | translate}}</mat-radio-button>&nbsp;&nbsp;&nbsp;&nbsp;
                    <mat-radio-button value="false">{{'internalMedcine.No' | translate}}</mat-radio-button>
                </mat-radio-group>
                <div *ngIf="OnMedicationbool"class="col-12" >
                    <mat-label class="row">{{'internalMedcine.currentlyonmedicationyesno' | translate}}</mat-label>
                    <div class="row" style="font-size: 12px; color: rgb(0,0,0,0.5);">
                        <div *ngFor="let onmedication of onmedications; let i = index" class="col-4">
                           <mat-checkbox style="display: inline-flexbox;" class="example-margin col"  [value]="onmedication.value" (change)="onCheckboxChangeonmedications($event)">
                             {{onmedication.name}}
                           </mat-checkbox>
                        </div>
                    </div>
                </div><br>

                <mat-label class="row">{{'internalMedcine.underdoctorcare' | translate}}?
                    <br>/現在治療している病気、または過去に治療していたことはありますか？</mat-label><br>
                    <mat-radio-group aria-label="Select an option" formControlName="doctorcare" (change)="toggleDoctorCare()" [(ngModel)]= "doctorCare">
                        <mat-radio-button value="true">{{'internalMedcine.yes' | translate}}</mat-radio-button>&nbsp;&nbsp;&nbsp;&nbsp;
                        <mat-radio-button value="false">{{'internalMedcine.No' | translate}}</mat-radio-button>
                    </mat-radio-group>

                <div *ngIf="doctorCarebool"class="col-12" >
                    <mat-label class="row">{{'internalMedcine.currentlyonmedicationyesno' | translate}}
                        <br>/「はい」に☑した人は、疾患名リストから選択し、治療していた医療機関名を書いてください。</mat-label>
                        <div class="row" style="font-size: 12px; color: rgb(0,0,0,0.5);">
                            <div *ngFor="let doctorcare of doctorcares; let i = index" class="col-4">
                                <mat-checkbox style="display: inline-flexbox;" class="example-margin col"  [value]="doctorcare.value" (change)="onCheckboxChangeunderdoctorcare($event)">
                                  {{doctorcare.name}}
                                </mat-checkbox>
                             </div>
                        </div>
                </div><br>

                <mat-label class="row">{{'internalMedcine.hadsurgery' | translate}}</mat-label><br>
                <mat-radio-group aria-label="Select an option" formControlName="onMedication" (change)="togglehadsurgery()"  [(ngModel)]= "hadsurgery" #radioGroup="matRadioGroup">
                    <mat-radio-button  value="true">{{'internalMedcine.yes' | translate}}</mat-radio-button>&nbsp;&nbsp;&nbsp;&nbsp;
                    <mat-radio-button value="false">{{'internalMedcine.No' | translate}}</mat-radio-button>
                </mat-radio-group>
                <div *ngIf="hadsurgerybool"class="col-12" >
                    <mat-label class="row">{{'internalMedcine.currentlyonmedicationyesno' | translate}}</mat-label>
                    <div class="row" style="font-size: 12px; color: rgb(0,0,0,0.5);">
                        <div *ngFor="let hadsurgery of hadsurgerys; let i = index" class="col-4">
                            <mat-checkbox style="display: inline-flexbox;" class="example-margin col"  [value]="hadsurgery.value" (change)="onCheckboxChangeunderhadsurgerys($event)">
                              {{hadsurgery.name}}
                            </mat-checkbox>
                         </div>
                    </div>
                </div><br><br><br>

                <div class="row">
                    <button class="col-2" mat-raised-button color="primary" matStepperPrevious>
                        <mat-icon>keyboard_arrow_left</mat-icon>{{'internalMedcine.Back' | translate}}
                    </button>
                    <nav class="col-8"></nav>
                    <button class="col-2" mat-raised-button matStepperNext matStepperNext
                        style="background-color: rgb(241, 136, 136); color: white;">{{'internalMedcine.Next' | translate}} <mat-icon>keyboard_arrow_right
                        </mat-icon></button>
                </div>
            </div>
        </mat-step>

        <!-- sixth step -->
        <mat-step [stepControl]="service.formx">
            <div  >
                <ng-template matStepLabel></ng-template>
                <mat-label class="row">{{'internalMedcine.smokeregularly' | translate}}? <br>/習慣的に、たばこを吸いますか。</mat-label><br>
                <div style="font-size: 12px; color: rgb(0,0,0,0.5);" class="row">
                    <mat-radio-group aria-label="Select an option" formControlName="smokeregularly" (change)="togglehadsmokeregularly()" [(ngModel)]= "smokeregularly">
                        <mat-radio-button  value="true">{{'internalMedcine.yes' | translate}}</mat-radio-button>&nbsp;&nbsp;&nbsp;&nbsp;
                        <mat-radio-button value="false">{{'internalMedcine.No' | translate}}</mat-radio-button>&nbsp;&nbsp;
                        <mat-radio-button value="true">{{'internalMedcine.Usedtosmoke' | translate}}/以前飲酒する習慣があった。</mat-radio-button>
                    </mat-radio-group>
                </div><br>

                
                <div *ngIf="smokeregularlybool" class="smoke-info col-12">
                    
                        <div class="col" style="margin-left: -16px;">
                            <mat-label class="col">{{'internalMedcine.Cigaretteconsumption' | translate}} /喫煙量</mat-label>
                            <mat-form-field class="row" style="padding-left: 29px; width:70px;">
                                <select matNativeControl required formControlName="amount" style="font-size: 12px;">
                                    <option *ngFor="let number of numbers" [value]="number.value" >
                                        {{number.viewValue}}
                                    </option>
                                </select>
                            </mat-form-field>&nbsp;&nbsp;&nbsp;
                            <mat-label style="padding-top: 16px; color: rgb(132, 132, 132);" class="col-4">
                                {{'internalMedcine.cigarettesDay' | translate}}本/日</mat-label>
                        </div>

                        <div class="col">
                            <mat-label >{{'internalMedcine.Durationofsmoking' | translate}}/喫煙期間</mat-label>
                            
                                <mat-form-field style="padding-left: 29px; width:67px;">
                                    <select matNativeControl required formControlName="duration" style="font-size: 12px;">
                                        <option *ngFor="let number of numbers" [value]="number.value" >
                                            {{number.viewValue}}
                                        </option>
                                    </select>
                                </mat-form-field>&nbsp;&nbsp;&nbsp;

                                <mat-label style="padding-top: 16px; color: rgb(132, 132, 132);" class="col-4">{{'internalMedcine.NoofYear' | translate}}/年</mat-label>
                            
                        </div>
                    
                    <div class="col">
                        <mat-form-field class="example-full-width" class="row" style="width: 381px;">
                            <textarea type="number" matInput placeholder="Year when you stopped smoking /喫煙をやめた年" formControlName="yearStop"></textarea>
                        </mat-form-field>
                    </div>
                </div>
           

                <ng-template matStepLabel></ng-template>
                <mat-label class="row">{{'internalMedcine.drinkregularly' | translate}}? <br>/習慣的にお酒を飲みますか</mat-label><br>
                <div style="font-size: 12px; color: rgb(0,0,0,0.5);" class="row">
                    <mat-radio-group aria-label="Select an option" formControlName="drinkregularly" (change)="toggledrinkregularly()" [(ngModel)]= "drinkregularly">
                        <mat-radio-button value="true">{{'internalMedcine.yes' | translate}}</mat-radio-button>&nbsp;&nbsp;&nbsp;&nbsp;
                        <mat-radio-button value="false">{{'internalMedcine.No' | translate}}</mat-radio-button>&nbsp;&nbsp;&nbsp;&nbsp;
                        <mat-radio-button value="true">{{'internalMedcine.Useddrinkregularly' | translate}}/以前飲酒する習慣があった。</mat-radio-button>
                    </mat-radio-group>
                </div><br>

                <div *ngIf="drinkregularlybool" class="smoke-info row-12">
                    <div style="font-size: 12px; color: rgb(0,0,0,0.5); padding-left: 10px;" class="row">
                        <div class="col-6">
                            <mat-checkbox class="col-2" formControlName="beer" [(ngModel)]= "beer">{{'internalMedcine.Beer' | translate}} <br>/ビール</mat-checkbox>&nbsp;
                            <mat-form-field class="row" style="width:54px;">
                                <select matNativeControl required class="col-4" formControlName="nobeer">
                                    <option *ngFor="let number of numbers" [value]="number.value">
                                        {{number.viewValue}}
                                    </option>
                                </select>
                            </mat-form-field>&nbsp;&nbsp;&nbsp;
                            <mat-label style="padding-top: 16px; color: rgb(132, 132, 132);" class="col-4"> ml /Day/日
                            </mat-label>
                        </div>
                        <div class="col-6">
                            <mat-checkbox class="col-2" formControlName="wisky" [(ngModel)]= "wisky">{{'internalMedcine.Whisky' | translate}} <br>/ウイスキー</mat-checkbox>&nbsp;
                            <mat-form-field class="row" style=" width:50px;">
                                <select matNativeControl required class="col-4" formControlName="nowisky">
                                    <option *ngFor="let number of numbers" [value]="number.value">
                                        {{number.viewValue}}
                                    </option>
                                </select>
                            </mat-form-field>
                            <mat-label style="padding-top: 16px; color: rgb(132, 132, 132);" class="col-4"> ml /Day/日
                            </mat-label>
                        </div>
                        <div class="col-6">
                            <mat-checkbox class="col-2" formControlName="japsake" [(ngModel)]= "japsake">{{'internalMedcine.Japanesesake' | translate}}<br>/日本酒</mat-checkbox>&nbsp;
                            <mat-form-field class="row" style="width:50px;">
                                <select matNativeControl required class="col-4" formControlName="nojapsake">
                                    <option *ngFor="let number of numbers" [value]="number.value">
                                        {{number.viewValue}}
                                    </option>
                                </select>
                            </mat-form-field>&nbsp;&nbsp;&nbsp;
                            <mat-label style="padding-top: 16px; color: rgb(132, 132, 132);" class="col-4"> ml /Day/日
                            </mat-label>
                        </div>
                        <div class="col-6">
                            <mat-checkbox class="col-2" formControlName="wine" [(ngModel)]= "wine">{{'internalMedcine.Wine' | translate}} <br>/ワイン</mat-checkbox>&nbsp;
                            <mat-form-field class="row" style=" width:50px;">
                                <select matNativeControl required class="col-4" formControlName="nowine">
                                    <option *ngFor="let number of numbers" [value]="number.value">
                                        {{number.viewValue}}
                                    </option>
                                </select>
                            </mat-form-field>
                            <mat-label style="padding-top: 16px; color: rgb(132, 132, 132);" class="col-4"> ml /Day/日
                            </mat-label>
                        </div>
                        <div class="col-6">
                            <mat-checkbox class="col-2" formControlName="other1" [(ngModel)]= "other1">{{'internalMedcine.Other' | translate}}(s) <br>/その他</mat-checkbox>&nbsp;
                            <mat-form-field class="row" style=" width:50px;">
                                <select matNativeControl required class="col-4" formControlName="other">
                                    <option *ngFor="let number of numbers" [value]="number.value">
                                        {{number.viewValue}}
                                    </option>
                                </select>
                            </mat-form-field>
                            <mat-label style="padding-top: 16px; color: rgb(132, 132, 132);" class="col-4"> ml /Day/日
                            </mat-label>
                        </div>
                    </div>
                </div>


                <div class="row">
                    <button class="col-2" mat-raised-button color="primary" matStepperPrevious>
                        <mat-icon>keyboard_arrow_left</mat-icon>{{'internalMedcine.Back' | translate}}
                    </button>
                    <nav class="col-8"></nav>
                    <button class="col-2" mat-raised-button matStepperNext
                        style="background-color: rgb(241, 136, 136); color: white;">{{'internalMedcine.Next' | translate}} <mat-icon>keyboard_arrow_right
                        </mat-icon></button>
                </div>
            </div>
        </mat-step>

        <!-- seventh step -->
        <mat-step [stepControl]="service.formx">
            <div  >
            <ng-template matStepLabel>Done</ng-template>
            
                <ng-template matStepLabel></ng-template>
                <mat-label>{{'internalMedcine.Iffemale' | translate}}?
                    <br>/女性の方のみお答えください。妊娠していますか、またその可能性はありますか。</mat-label>
                <div style="font-size: 12px; color: rgb(0,0,0,0.5);" class="row">
                    <mat-radio-group aria-label="Select an option" formControlName="pregnant">
                        &nbsp;&nbsp;&nbsp;&nbsp;<mat-radio-button value="yes">{{'internalMedcine.yes' | translate}}</mat-radio-button>&nbsp;&nbsp;&nbsp;&nbsp;
                        <mat-radio-button value="No">{{'internalMedcine.No' | translate}}</mat-radio-button>&nbsp;&nbsp;&nbsp;&nbsp;
                        <mat-radio-button value="Dont know">{{'internalMedcine.Donotknow' | translate}}/わからない</mat-radio-button>
                    </mat-radio-group>
                </div><br>

                <mat-label>{{'internalMedcine.Areyoubreastfeeding' | translate}}? <br>/現在、授乳中ですか</mat-label>
                <div style="font-size: 12px; color: rgb(0,0,0,0.5);" class="row">
                    <mat-radio-group aria-label="Select an option" formControlName="breastfeeding" [(ngModel)]= "breastfeeding">
&nbsp;&nbsp;&nbsp;&nbsp;<mat-radio-button value="true">{{'internalMedcine.yes' | translate}}</mat-radio-button>&nbsp;&nbsp;&nbsp;&nbsp;
                        <mat-radio-button value="false">{{'internalMedcine.No' | translate}}</mat-radio-button>&nbsp;&nbsp;&nbsp;&nbsp;
                        
                    </mat-radio-group>
                </div><br>

                <mat-label>{{'internalMedcine.specialrequestconcerningconsultation' | translate}}
                    <br>/診察でのご希望がある場合は、☑をしてください</mat-label>
                <div style="font-size: 12px; color: rgb(0,0,0,0.5);" class="col">
                    <mat-checkbox class="row" formControlName="medicalexpenses" [(ngModel)]= "medicalexpenses">{{'internalMedcine.informedonestimatedexpenses' | translate}} /あらかじめ、医療費の概算を教えてほしい。</mat-checkbox>&nbsp;
                    <mat-checkbox class="row" formControlName="haveinterpreter" [(ngModel)]= "haveinterpreter">{{'internalMedcine.interpreterinterpreterservice' | translate}}./通訳がある場合は、通訳を付けてほしい。</mat-checkbox>&nbsp;
                    <mat-checkbox class="row" formControlName="otherssss" [(ngModel)]= "otherssss">{{'internalMedcine.Other' | translate}}(s)/その他</mat-checkbox>&nbsp;

                </div>



            
            <div class="row">
                <button class="col-2" mat-raised-button color="primary" matStepperPrevious>
                    <mat-icon>keyboard_arrow_left</mat-icon>{{'internalMedcine.Back' | translate}}
                </button>
                <nav class="col-8"></nav>
                <button class="col-2" mat-raised-button mat-button (click)= "onSubmit()"
                    style="background-color: rgba(76, 175, 80, 0.98); color: white;">{{'internalMedcine.Next' | translate}}</button>
            </div>
        </div>
        </mat-step>
        
    </mat-horizontal-stepper>
    </form>

</div>

<script type="text/javascript">
    function showHide(checked){
        if(checked == true){
            $("#box").fadeIn();
        }
        else $("#box").fadeOut();
        
    }    

</script>